<div class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <a href="../" class="navbar-brand">Dries De Vos Landmeterexpert</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarResponsive" style="">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#aanbod">Aanbod</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#laserscanning">3D Laserscannning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#drone">Drone</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1 id="aanbod">Aanbod</h1>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Contact</h4>
            <p class="card-text">Landmeter-Expert Dries De Vos<br>
              <a href="tel:+32 499 34 27 69">+32 499 34 27 69</a><br>
              landmeterexpert.driesdevos@gmail.com
            </p>
          </div>
        </div>
        <p class="lead">Opmetingen</p>
        <ul>
          <li>Opmetingen en afpalingen</li>
          <li>Proces-verbaal van afpaling</li>
          <li>Waterpassing (hoogtemetingen)</li>
          <li>Gevelmetingen</li>
        </ul>
        <p class="lead">3D Laserscanning</p>
        <ul>
          <li>3D puntenwolk</li>
          <li>3D tekeningen</li>
          <li>2D tekeningen</li>
        </ul>
        <p class="lead">Attesten en studies</p>
        <ul>
          <li>Attesten en Studies</li>
          <li>Asbest attest</li>
          <li>Plaatsbeschrijving</li>
        </ul>
        <p class="lead">Drone</p>
        <ul>
          <li>3D puntenwolk</li>
          <li>Foto rapportages</li>
          <li>Inspecties met infrarood camera</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-7">
        <h1 id="laserscanning">3D laserscanning</h1>
        <h2>3D puntenwolk</h2>
        <p>Door middel van statische scanning krijgen we een 3D puntenwolken van de op te meten omgeving. Deze worden in de naverwerking allemaal met elkaar gekoppeld zodat we als eindresultaat één grote puntenwolk hebben die in het juiste coördinatenstelsel staat.</p>
        <p>  Dit kan gedaan worden voor allerlei verschillende soorten projecten. Van objecten, structuren, gebouwen tot volledige  regio's. </p>
        <h2>Van puntenwolk tot 2D of 3D tekeningen</h2>
        <p>Deze puntenwolken kunnen makkelijk in verschillende soorten tekenprogramma's ingeladen worden. In Bricscad of Autocad voor het maken van 2D tekeningen. Of Inventor of archiCad voor het maken van 3D tekeningen.</p>
         <p>Dit is een ideale manier om makkelijk en snel van een bestaande omgeving een grondplan of 3D model te krijgen en zo verdere plannen te kunnen maken. Alsook om asbuilt tekeningen te kunnen maken of alles volgens plan is verlopen.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-6">
        <h1 id="drone">Drone</h1>
        <h2>3D modellen</h2>
        <p>Door middel van fotogrammetrie wordt er een puntenwolk of een mesh gemaakt van objecten, structuren, gebouwen of omgevingen.</p>
        <p>Deze puntenwolken kunnen dan in verschillende tekenprogramma's ingeladen worden om hiermee 2D of 3D tekeningen te maken of in te meten.</p>
        <p>3D modellen kunnen volgens de noden van het project in de juiste coördinaten geplaatst worden. </p>
        <h2>Foto rapportage</h2>
        <p>Met een drone geraak je op plaatsen waar je anders niet makkelijk bij geraakt. Hier wordt dan via een fotorapportage alles in beeld gebracht.</p>
        <h2>Inspecties Drone met infra-rood camera</h2>
        <ul>
          <li>Zonnepanelen controleren op schade en productieverlies</li>
          <li>Opsporen van warmte verlies bij woningen</li>
        </ul>
        <img class="img-fluid" src="assets/3D%20drone%201.png">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1 id="contact">Contact</h1>
        <p>
          Tel: +32 499 34 27 69 <br>
          E-mail: landmeterexpert.driesdevos@gmail.com <br>
          Adres: Ottergemsesteenweg 387 - 9000 Gent - België
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d321232.09729001543!2d3.408859562808829!3d51.02306232686103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866415ff6e75285%3A0xcdaf558417a50429!2sLandmeter-expert%20Dries%20De%20Vos!5e0!3m2!1snl!2sbe!4v1730656486901!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>